@import "../../styles/variables";
@import "../../styles/mixins";

.utilities {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 16px;

  &_button {
    color: $light;
    background-color: $purple;
    border-radius: 5px;
    padding: 12px 14px;
  }
}

@include medium {
  .utilities {
    display: none;
  }
}
